In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')
connection

In [7]:
cursor=connection.cursor()

In [9]:
cursor.execute('''
Create Table If Not Exists employee(
    id Interger Primary Key,
    name ext Not Null,
    age Integer,
    department text
    )
''')

connection.commit()

In [11]:
cursor.execute('''
Select * from employee
''')

In [13]:
cursor.execute('''
Insert Into employee(name,age,department)
                values('omkar',22,'data scientist')
''')

cursor.execute('''
Insert Into employee(name,age,department)
                values('atharva',24,'doctor')
''')

cursor.execute('''
Insert Into employee(name,age,department)
                values('vishal',26,'drug dealer')
''')

connection.commit()

In [15]:
cursor.execute('Select * from employee')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'omkar', 22, 'data scientist')
(2, 'atharva', 24, 'doctor')
(3, 'vishal', 26, 'drug dealer')

In [16]:
cursor.execute('''
UPDATE employee

Set age=34

where name='omkar'

''')

connection.commit()

In [17]:
cursor.execute('Select * from employee')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'omkar', 34, 'data scientist')
(2, 'atharva', 24, 'doctor')
(3, 'vishal', 26, 'drug dealer')

In [18]:
connection.close()