In [2]:
student={
    "name":"omkar","age":22,"grade":"AA"
}
print(student)

{'name': 'omkar', 'age': 22, 'grade': 'AA'}

In [3]:
student={
    "name":"omkar","age":22,"grade":"AA"
}

In [5]:
print(student['grade'])
print(student.get('grade'))

AA
AA

In [6]:
student["age"]=33
print(student)
student["address"]="india"
print(student)

{'name': 'omkar', 'age': 33, 'grade': 'AA'}
{'name': 'omkar', 'age': 33, 'grade': 'AA', 'address': 'india'}

In [7]:
keys=student.keys()
print(keys)
values=student.values()
print(values)

items=student.items()
print(items)

dict_keys(['name', 'age', 'grade', 'address'])
dict_values(['omkar', 33, 'AA', 'india'])
dict_items([('name', 'omkar'), ('age', 33), ('grade', 'AA'), ('address', 'india')])

In [9]:
student_copy=student
print(student_copy)

{'name': 'omkar', 'age': 33, 'grade': 'AA', 'address': 'india'}

In [10]:
student["name"]="vishal"
print(student)
print(student_copy)

{'name': 'vishal', 'age': 33, 'grade': 'AA', 'address': 'india'}
{'name': 'vishal', 'age': 33, 'grade': 'AA', 'address': 'india'}

In [11]:
student_copy1=student.copy()
print(student_copy1)

{'name': 'vishal', 'age': 33, 'grade': 'AA', 'address': 'india'}

In [12]:
student["name"]="omkar"
print(student)
print(student_copy1)

{'name': 'omkar', 'age': 33, 'grade': 'AA', 'address': 'india'}
{'name': 'vishal', 'age': 33, 'grade': 'AA', 'address': 'india'}

In [13]:
for values in student.values():
    print(values)

omkar
33
AA
india

In [14]:
for keys,values in student.items():
    print(f"{keys}:{values}")

name:omkar
age:33
grade:AA
address:india

In [16]:
students={
    "student1":{"name":"omkar","age":22},
    "student2":{"name":"vishal","age":24},
    "student3":{"name":"atharva","age":23}
}

In [18]:
print(students["student2"]["name"])

vishal

In [19]:
students.items()

dict_items([('student1', {'name': 'omkar', 'age': 22}), ('student2', {'name': 'vishal', 'age': 24}), ('student3', {'name': 'atharva', 'age': 23})])

In [22]:
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'omkar', 'age': 22}
name:omkar
age:22
student2:{'name': 'vishal', 'age': 24}
name:vishal
age:24
student3:{'name': 'atharva', 'age': 23}
name:atharva
age:23

In [24]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [27]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}